*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root*/
:root{
    --border: 1px dashed black; 
}

/*Stili Header*/
.box-header{
    background-color:rgb(173 216 230);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

}

.toolbar{
    width: 70%;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 10px auto;

}
/*Stili sezioni Toolbar*/
.toolbar-box{
    height: 30px;
    width: calc(40% /2);
    background-color: rgb(218 165 32);
    border: var(--border);
    align-self: center;
    line-height: 30px;
    padding-left: 10px;
}

.centrale{
    width: 60%;
    text-align: center;    
}

.destra{
    text-align: right;
    padding-right: 10px;
}

/*Stili Sezione Header*/
.container{
    width: 100%;
    background-color: rgb(0 0 139);
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxrosa{
    width: 60%;
    background-color: rgb(238 130 238);
    height: 200px;
    border: var(--border);
}

/*Stili Sezioni Main*/
.row{
    width: 100%;
    margin: auto;
}

.grigia{
    background-color: lightgray;
}
.sezione-due-porzioni{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
}

.porzione-blu{
    width: 70%;
    height: 200px;
    background-color:rgb(30 144 255) ;
    border: var(--border);
    margin: 20px 0;
}

.porzione-rosa{
    width: 30%;
    height: 200px;
    background-color:rgb(255 192 203);
    border: var(--border);
    margin: 20px 0;
}

.inversa{
    flex-direction: row-reverse;
}

.box{
    width: 100%;
    height: 300px;
    background-color: green;
    border: var(--border);
    margin: 10px auto;
    margin-top: 20px;

}

.sezione4{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
}

.scura{
    background-color:rgb(35 39 42);
}

.card-grossa{
    background-color: rgb(240 128 128);
    width: calc(100% /3);
    height: 400px;
    border: var(--border);
    margin: 10px auto 20px;
}

.card{
    background-color: rgb(32 178 170);
    width: calc(66% / 4);
    height: 400px;
    border: var(--border);
    margin: 10px auto 20px;
}

/*Stili Footer*/
.row-footer{
    width: 100%;
    margin: auto;
    background-color:rgb(35 39 42);
    height: 100px;
    display: flex;
    align-items: center;
}
.footer{
    background-color: rgb(127 255 212);
    width:70% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.btn{
    background-color: gray;
    border: var(--border);
    margin: 10px 0;
}

