*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root*/
:root{
    --border: 1px dashed black; 
}

/*Stili Header*/
.box-header{
    background-color:aquamarine;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

}

.toolbar{
    width: 70%;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 10px auto;

}
/*Stili sezioni Toolbar*/
.toolbar-box{
    height: 30px;
    width: calc(40% /2);
    background-color: orange;
    border: var(--border);
    align-self: center;
    line-height: 30px;
    padding-left: 10px;
}

.centrale{
    width: 60%;
    text-align: center;    
}

.destra{
    text-align: right;
    padding-right: 10px;
}

/*Stili Sezione Header*/
.container{
    width: 100%;
    background-color: blue;
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxrosa{
    width: 60%;
    background-color: palevioletred;
    height: 200px;
    border: var(--border);
}

/*Stili Sezioni Main*/
.row{
    width: 100%;
    margin: auto;
}

.grigia{
    background-color: lightgray;
}
.sezione-due-porzioni{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
}

.porzione-blu{
    width: 70%;
    height: 200px;
    background-color:cyan ;
    border: var(--border);
    margin: 20px 0;
}

.porzione-rosa{
    width: 30%;
    height: 200px;
    background-color: pink;
    border: var(--border);
    margin: 20px 0;
}

.inversa{
    flex-direction: row-reverse;
}

.box{
    width: 100%;
    height: 300px;
    background-color: green;
    border: var(--border);
    margin: 10px auto;
    margin-top: 20px;

}

.sezione4{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
}

.scura{
    background-color: darkblue;
}

.grossa{
    background-color: rebeccapurple;
    width: calc(100% /3);
}
.card{
    background-color: aqua;
    width: calc(100% / 6);
    height: 200px;
    border: var(--border);
}